@model DevConnect.Models.TbUsuario

<link rel="stylesheet" href="~/css/global.css">
<link rel="stylesheet" href="~/css/cadastro.css">

<script defer>

    let MensagemSucesso = "@ViewBag.MensagemSucesso";
    if (MensagemSucesso == "Nao cadastrado") {
        alert("Não foi possível cadastrar o usuário.");
    }

</script>

<main id="cadastro-main">

    <section class="cadastro-container">
        <!-- Logo -->
        <img src="~/images/logo-devconnect-lg.svg" alt="Logo DevConnect" class="logo-img">

        <p class="cadastro-texto">
            Cadastre-se para comunidade <br> exclusiva de desenvolvedores(as).
        </p>

        <form class="cadastro-form" asp-action="Cadastro" asp-controller="Usuario" method="post" enctype="multipart/form-data">
            <input type="text" asp-for="NomeCompleto" placeholder="Nome e sobrenome" required>
            <input type="text" asp-for="NomeUsuario" placeholder="Nome de usuário" required>
            <input type="email" asp-for="Email" placeholder="E-mail" required>
            <input type="password" name="senha" placeholder="Senha" required>


            <label class="custom-file-btn">
                Escolher Foto
                <input type="file" name="foto" accept="image/*">
            </label>

            <button type="submit">Cadastrar-se</button>
        </form>

        <p class="termos">
            Ao se cadastrar, você concorda com nossos <a href="#">Termos</a>,
            <a href="#">Política de Dados</a> e <a href="#">Política de Cookies</a>.
        </p>
    </section>

    <section class="login-container">
        <p>Tem uma conta? <a asp-controller="Home" asp-action="Index">Conecte-se</a></p>
        <a asp-controller="Feed" asp-action="Index" target="_blank" class="voltar-link">Voltar ao Início</a>
    </section>

</main>